# Rust / Cargo
/target/
**/*.rs.bk
Cargo.lock

# Node / NPM
/node_modules/
/npm/
package-lock.json
*.tgz

# Extensiones nativas NAPI-RS compiladas
*.node

# IDEs & System
.GCC/
.vscode/
.idea/
.DS_Store

# Ignore models binaries
models/
